
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<!--Główny kontener zewnętrzny-->
<div>

  <!--Pole tekstowe do wyszukania miasta-->
  <div class="row search-area">

    <!--Nagłówek pola tekstowego-->
    <div class="col-md-1">
      <span style="vertical-align: sub;">
        City
      </span>
    </div>

    <!--Pole tekstowe-->
    <div class="col-md-5">
      <input type="text" class="form-control" (input)="fetchCityName($event)">
    </div>

    <div class="col-md-4">
        <select class="form-control" id="selected-option">
            <option value="Current weather data">Current weather data</option>
            <option value="Hourly forecast">Hourly forecast</option>
            <option value="16 day forecast">16 day forecast</option>
          </select>
    </div>

    <div class="col-md-2">
      <button class="btn btn-default" (click)="onUpdateCityName($event)">Search</button>
    </div>

  </div>

  <!--Główny blok z uzyskanymi informacjami-->
  <div class="info-block">

    <!--Górna część paska z informacjami-->
    <div class="info-row">
        <!--Temperatura-->
        <div class="temperature">
          <span>{{ fetchedData.main.temp | number : '1.1-1' }}</span>
        </div>

        <!--Grafika pogodowa-->
        <div class="icon">
          <span><img src='assets/img/{{ weatherIconName }}'></span>
        </div>
    </div>


    <!--Pozostałe informacje-->
    <div>

      <div class="info-row">
          <!--Opis-->
          <div class="description">
            <span>Conditions: </span>
            <span>{{ fetchedData.weather[0].description }}</span>
          </div>

          <!--Ciśnienie-->
          <div class="pressure">
            <span>Pressure: </span>
            <span>{{ fetchedData.main.pressure }}</span>
            <span> hpa</span>
          </div>
      </div>

      <div class="info-row">
          <!--Wilgotność-->
          <div class="humidity">
            <span>Humidity: </span>
            <span>{{ fetchedData.main.humidity }}</span>
            <span> %</span>
          </div>

          <!--Wiatr-->
          <div class="wind">
            <span>Wind: </span>
            <span>{{ fetchedData.wind.speed }}</span>
            <span> m/s</span>
          </div>
      </div>
    </div>
  </div>
</div>





<!--
  <div class="info-block">


  <div>
    Temperatura:
    <p>{{ fetchedData.main.temp | number : '1.1-1' }}</p>
    Pogoda-opis:
    <p> {{ fetchedData.weather[0].description }}</p>
    Dane systemowe:
    <p> {{ fetchedData.sys.country }} </p>
  </div>

  <div>
    Ikona:
    <p>
      <img src='assets/img/{{ weatherIconName }}'>
    </p>
  </div>

</div>

-->

