

<!--Główny kontener zewnętrzny-->
<div>

  <!--Pole tekstowe do wyszukania miasta-->
  <div class="row search-area">

    <!--Nagłówek pola tekstowego-->
    <div class="col-md-1">
      <span style="vertical-align: sub;">
        City
      </span>
    </div>

    <!--Pole tekstowe-->
    <div class="col-md-5">
      <input type="text" class="form-control" (input)="fetchCityName($event)">
    </div>

    <div class="col-md-4">
        <select class="form-control">
            <option value="Current weather data">Current weather data</option>
            <option value="Hourly forecast">Hourly forecast</option>
            <option value="16 day forecast">16 day forecast</option>
          </select>
    </div>

    <div class="col-md-2">
      <button class="btn btn-default" (click)="onUpdateCityName($event)">Search</button>
    </div>

  </div>

  <!--Główny blok z uzyskanymi informacjami-->
  <div class="info-block">

    <!--Górna część paska z informacjami-->
    <div class="info-row">
        <!--Temperatura-->
        <div class="temperature">
          temp
        </div>

        <!--Grafika pogodowa-->
        <div class="icon">
          grafika
        </div>
    </div>


    <!--Pozostałe informacje-->
    <div>

      <div class="info-row">
          <!--Opis-->
          <div class="description">
            opis
          </div>

          <!--Ciśnienie-->
          <div class="pressure">
            ciśnienie
          </div>
      </div>

      <div class="info-row">
          <!--Wilgotność-->
          <div class="humidity">
            wilgotność
          </div>

          <!--Wiatr-->
          <div class="wind">
            wiatr
          </div>
      </div>
    </div>
  </div>
</div>





<!--
  <div class="info-block">


  <div>
    Temperatura:
    <p>{{ fetchedData.main.temp | number : '1.1-1' }}</p>
    Pogoda-opis:
    <p> {{ fetchedData.weather[0].description }}</p>
    Dane systemowe:
    <p> {{ fetchedData.sys.country }} </p>
  </div>

  <div>
    Ikona:
    <p>
      <img src='assets/img/{{ weatherIconName }}'>
    </p>
  </div>

</div>

-->

